astralsorcery
journeymap
llibrary
logs
mods
patchouli_books
resourcepacks
saves
server-resource-packs
valkyrielib
BotaniaVars.dat
crafttweaker.log
minecraftinstance.json
options.txt
patchouli_data.json
textures_0.png
.mixin.out/audit/mixin_implementation_report.csv
.mixin.out/audit/mixin_implementation_report.txt
