usernamecache.json
usercache.json
crafttweaker.log
options.txt
patchouli_data.json
BotaniaVars.dat
icon.png
textures_0.png
/woot
/valkyrielib
/server-resource-packs
/saves
/resourcepacks
/patchouli_books
/mods
/modlists
/logs
/library
/journeymap
/crash-reports
/coremods
/astralsorcery
/.mixin.out
/llibrary
/log-dumps
/dumps
/screenshots
.gitignore
hs_err*.log