# Configuration file

##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# For no leaf item drops 'null' or 'unused'
##########################################################################################################

blocks {
    # Something new. [default: [iron,null,188,153,128], [gold,null,252,238,75], [lapis,null,28,87,198], [redstone,minecraft:redstone#5#0#3,151,3,3], [diamond,null,119,206,251]]
    S:"Custom Blocks" <
        iron,null,188,153,128
        gold,null,252,238,75
        lapis,null,28,87,198
        redstone,null,151,3,3
        diamond,null,119,206,251
        copper,null,255,156,58
        lead,null,153,153,201
        tin,null,227,238,255
        silver,null,208,212,229
        nickel,null,195,212,139
        emerald,null,37,255,110
        cobalt,null,40,130,212
        ardite,null,209,66,16
        osmium,null,147,197,219
        aluminum,null,234,234,244
        glowstone,null,255,255,0
        platinum,null,180,233,255
        bronze,null,208,170,122
        constantan,null,245,210,133
        electrum,null,255,255,152
        steel,null,176,176,176
        invar,null,230,240,250
    >
}


##########################################################################################################
# controls
#--------------------------------------------------------------------------------------------------------#
# Controls Generation of Islands
##########################################################################################################

controls {
    I:"(1:Amount) Chance that an Island Will Generate in Chunk"=150
    B:"Floating Islands Should Generate"=false
    I:"Largest Radius Islands Should Generate"=4
    I:"Smallest Radius Islands Should Generate"=1
}


##########################################################################################################
# drops
#--------------------------------------------------------------------------------------------------------#
# Controls Acorn Drop Chance
##########################################################################################################

drops {
    # (1:Amount) Chance of Acorn being dropped when leaves are broken [range: 1 ~ 2147483647, default: 3]
    I:"Acorn Drop Chance"=2
}


##########################################################################################################
# world gen
#--------------------------------------------------------------------------------------------------------#
# dimension, treeType, minGenHeight, maxGenHeight,spawnWeight, islandSurfaceBlock, islandFillerBlock. syntax is: dimInt#orename#minHeight,maxHeight#spawnWeight#modname:block,blockMeta,modname:block,blockMeta
##########################################################################################################

"world gen" {
    # Happy Birthday! [default: [0#iron#20,200#4#minecraft:grass,0,minecraft:dirt,0], [-1#redstone#20,100#4#minecraft:soul_sand,0,minecraft:netherrack,0]]
    S:"World Gen" <
        0#iron#20,200#4#minecraft:grass,0,minecraft:dirt,0
        -1#redstone#20,100#4#minecraft:soul_sand,0,minecraft:netherrack,0
     >
}


